//font-size
$font-size-xxs: 0.76rem; //13px
$font-size-xs: 0.88rem; //15px
$font-size-s-default: 17px; //17px
$font-size-m: 1.18rem; //20px
$font-size-l: 1.76rem; //30px
$font-size-xl: 2.35rem; //40px
$font-size-xxl: 2.94rem; //50px
$font-size-xxxl: 3.53rem; //60px


